{% extends "layout/base.html" %}

{% block title %} Contact{% endblock %}
{% set page_id = 'contact' %}


{% block content %}
    <div class="container">
        <div class="col">
            <div class="jumbotron mt-4r">
                <h1 class="display-4"> Astrid JONATHAN</h1>
                <hr class="my-4">
                <p class="lead"><strong>Email:</strong> fezfefrer@jgr.fr</p>
                <p class="lead"><strong>Téléphone:</strong> 0690 545 454</p>
            </div>
        </div>
    </div>
    <div class="container mb-4">
        <div class="row">
            <div class="col-md-6 img">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvzOpl3-kqfNbPcA_u_qEZcSuvu5Je4Ce_FkTMMjxhB-J1wWin-Q"  alt="" class="img-rounded">
            </div>
            <div class="col-md-6 details">
                <blockquote>
                    <h5>Fiona Gallagher</h5>
                    <small><cite title="Source Title">Chicago, United States of America  <i class="icon-map-marker"></i></cite></small>
                </blockquote>
                <p>
                <p class="lead"><strong>Email:</strong> fezfefrer@jgr.fr</p>
                <p class="lead"><strong>Téléphone:</strong> 0690 545 454</p>
                </p>
            </div>
        </div>
    </div>
{% endblock %}