{% extends "layout/base.html" %}

{% block title %} Mes Contacts{% endblock %}
{% set page_id = 'contacts' %}


{% block content %}
<div class="py-5 bg-light">
    <div class="container">
        <div class="row">
                <div class="col">
                    <div class="card shadow-sm">
                        <table class="table table-bordered table-dark">
                            <thead>
                            <tr class="bg-primary" >
                                <th scope="col">#</th>
                                <th scope="col">Prénom</th>
                                <th scope="col">Nom</th>
                                <th scope="col">Email</th>
                                <th scope="col">Téléphone</th>
                                <th scope="col">Photo de Profil</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>ghhhd@mdo.fr</td>
                                <th scope="col">0690 451 451</th>
                                <th scope="col"><img src="https://image.ibb.co/f5Kehq/bio-image.jpg" alt=""></th>
                            </tr>
                            <tr>
                                <th scope="row">1</th>
                                <td>Léna</td>
                                <td>BROISSON</td>
                                <td>fffaaad@mdo.fr</td>
                                <th scope="col">0690 451 451</th>
                                <th scope="col"><img src="https://image.ibb.co/f5Kehq/bio-image.jpg" alt=""></th>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Rosemael</td>
                                <td>ANTHONY</td>
                                <td>fgghghhhd@mdo.fr</td>
                                <th scope="col">0690 451 451</th>
                                <th scope="col"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvzOpl3-kqfNbPcA_u_qEZcSuvu5Je4Ce_FkTMMjxhB-J1wWin-Q" alt=""></th>
                            </tr>

                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}