{% extends "layout/base.html" %}

{% block title %} Contact{% endblock %}
{% set page_id = 'contact' %}


{% block content %}
    <div class="container">
        <div class="col">
            <div class="jumbotron mt-4r">
                {% for unContact in unContact %}
                <h1 class="display-4"> {{ unContact.prenom }} {{ unContact.nom }}</h1>
                <hr class="my-4">
                <p class="lead"><strong>Email:</strong>{{ unContact.email }}</p>
                <p class="lead"><strong>Téléphone:</strong>{{ unContact.email }} </p>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}